<div class="row">

  <div class="medium-7 large-6 columns">
    <h1>Tap into your local Breweries!</h1>
    <p class="subheader"> Find the best breweries near you, connect with other beer lovers, and leave your own beer-belly certified review!</p>
    <button class="button">Create Account</button>
    <button class="button">Show me a brewery!</button>
  </div>

  <div class="show-for-large large-3 columns">
    <img src="./assets/imgs/cheers.jpeg" alt="picture of people cheering beer">
  </div>

  <div class="medium-5 large-3 columns">
    <div class="callout secondary">
      <form>
        <div class="row">
          <div class="small-12 columns">
            <label>Find Your Dream Beer
              <input type="text" placeholder="Search by city" id="text-city">
            </label>
            <button type="submit" class="button" id="submit-city">Search Now!</button>
          </div>
          <div class="small-12 columns">
            <label>Zip code
              <input type="number" placeholder="Search by zipcode" id="text-zip">
            </label>
            <button type="submit" class="button" id="submit-zip">Search Now!</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="row column">
  <hr>
</div>

{{> beer-results}}

<script src="/js/api-returns.js"></script>