<div class="row">

  <div class="row">
    <div class="columns small-11 small-centered hero-text">
      <h1>Tap into your local Breweries!</h1>
      <p class="subheader"> Find the best breweries near you, connect with other beer lovers,
        and leave your own beer-belly certified review!</p>
      <a href="/login" class="button warning">Create Account</a>
      <a class="button warning">Show me a brewery!</a>
    </div>
  </div>


  <div class="row box">
    <div>
      <form>
        <div class="columns small-6 large-centered">
          <div class="small-12 columns">
            <label>Find Your Dream Beer
              <input class="input" type="text" placeholder="Search by city" id="text-city">
              <button type="submit" class="button warning" id="submit-city">Search Now!</button>
            </label>
          </div>
          <div class="small-12 columns">
            <label>Zip code
              <input class="input" type="number" placeholder="Search by zipcode" id="text-zip">
            </label>
            <button type="submit" class="button warning" id="submit-zip">Search Now!</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="row column">
  <hr>
</div>


{{> beer-results}}


<script src="/js/api-returns.js"></script>