<div class="row login">
    <form>
        <div class="columns large-6 large-centered">
            <label for="username" class="login-form">Username:</label>
            <input type="text" placeholder="Enter your username" id="username" name="username" />
            <label for="password" class="login-form">Password:</label>
            <input type="password" placeholder="Enter your password" id="password" name="password" />
            <a  class="button warning" id="login-btn">Login</a></li>
            <a  class="button warning" id="createAccount-btn">Create Account</a></li>
    </form>
</div>

<script src="/js/Login.js"></script>
<script src="/js/createAccount.js"></script>