.spacing {
    background-color: rgba(0,0,0,.2);
    width:100%;
    font-size: 36px;
    font-weight: bold;
    color:#001d3d;
    text-shadow: 0 0 20px rgb(243, 213, 42);
}

.spacing ul {
    list-style-type: none;
}

.search-area {
    padding-top: 20px;
}

.title-txt {
    text-decoration: underline;
    padding-top: 8px;
}

.footer-2 {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.2);
    width:100%;
}

.footer-2 ul {
    list-style-type: none;
    justify-content: space-evenly;
}